
    <div class="dashboardContainer">
      <div class="dashBoardInformation">
        <div class="dashboardInfomationRow">
          <div class="dashboardInfomationColuman">
            <div class="map-image">
              <img width="785px" height="400px"  alt="United logo link to homepage" src="https://maps.googleapis.com/maps/api/staticmap?center={{city}}&zoom=5&size=200x200&key=AIzaSyBAyMH-A99yD5fHQPz7uzqk8glNJYGEqus" role="presentation" aria-hidden="true">
              <div class="container-fluid">
<!-- <div #piechart style="width: 900px; height: 500px;"></div> -->
                <!-- <div class="ods-box">                  
            
                    <ods-dataset-context
                                         context="entreprisesimmatriculeesen2016"
                                         entreprisesimmatriculeesen2016-dataset="entreprises-immatriculees-en-2016"
                                         entreprisesimmatriculeesen2016-parameters="{'disjunctive.libelle':true,'disjunctive.code_postal':true,'disjunctive.ville':true,'disjunctive.region':true,'disjunctive.greffe':true,'sort':'date_d_immatriculation'}">
                        <ods-map context="entreprisesimmatriculeesen2016" location="3,18.59479,25.24143" basemap="mapbox.light">
                        </ods-map>
                    </ods-dataset-context>
            
                </div> -->
            </div>
            </div>
          </div>
          <div class="dashboardInfomationColuman">
            <div class="dashboardInfomationChildRow">
              <div class="dashboardInfomationColuman">
               <div class="paiHolder">
                <div class="item html">
                  <h2>INC</h2>
                  <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                   <g>
                    <title>Layer 1</title>
                    <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="16" stroke="#6fdb6f" fill="none"/>
                   </g>
                  </svg>
              </div>
               </div>
              </div>
              <div class="dashboardInfomationColuman">
                <div class="paiHolder">
                  <div class="item html">
                    <h2>EVN</h2>
                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                     <g>
                      <title>Layer 1</title>
                      <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="16" stroke="	#FF0000" fill="none"/>
                     </g>
                    </svg>
                </div>
                 </div>
              </div>
            </div>
            <div class="dashboardInfomationChildRow">
              <div class="dashboardInfomationColuman">3
                <div class="paiHolder">
                  <div class="item html">
                    <h2>ZAG</h2>
                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                     <g>
                      <title>Layer 1</title>
                      <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="16" stroke="	#000080" fill="none"/>
                     </g>
                    </svg>
                </div>
                 </div>
              </div>
              <div class="dashboardInfomationColuman">
                <div class="paiHolder">
                  <div class="item html">
                    <h2>ZNZ</h2>
                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                     <g>
                      <title>Layer 1</title>
                      <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="16" stroke="#6fdb6f" fill="none"/>
                     </g>
                    </svg>
                </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardInfomationRow">
          <div class="dashboardInfomationColuman">
            <div class="runmap-image">
              <img width="785px" height="400px" alt="United fly time" src="../../assets/images/linegraphmockup.png" role="presentation" aria-hidden="true">

            </div>
          </div>
          <div class="dashboardInfomationColuman">
            <div class="dropdown-image">
              <img width="785px" height="400px"  alt="search item" src="../../assets/images/menus-multiple-select.png" role="presentation" aria-hidden="true">

            </div>
          </div>
        </div>
      </div>
    </div>
 
