

<div class="items" [formGroup]="subHeaderForm">
    <div class="item"><label class="control-label"><strong>Pet Bag tag number :</strong></label>
      <input type="text" class="input-medium search-query" ></div>
    <div class="item">  <label class="control-label"><strong>Station:</strong></label>
  
      <input type="text" class="input-medium search-query" ></div>
    <div class="item">
      <label class="control-label"><strong>Gate :</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">
      <label class="control-label"><strong>Flight number:</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">     <label class="control-label"><strong>From date :</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">
      
      <label class="control-label"><strong>To date:</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">
      <label class="control-label"><strong> From Time :</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">
      
      <label class="control-label"><strong>  To Time:</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">  <label class="control-label"><strong>Pet Type  :</strong></label>
    
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">
      <label class="control-label"><strong>User ID:</strong></label>
        <input type="text" class="input-medium search-query" >
    </div>
    <div class="item"><label class="control-label"><strong>Cargo Airway Bill Number :</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">     <label class="control-label"><strong>BIS:</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">
      <label class="control-label"><strong>Passenger Name :</strong></label>
      <input type="text" class="input-medium search-query" >
    </div>
    <div class="item">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
   
  </div>
<!--   
 <div class="listCarMain">
    <div class="inlineFlexDiv width10">
      <div class="card">
        <div class="inlineFlexDiv width40"> 123456</div>
        <div class="inlineFlexDiv width45">UK-3769</div>
        <div class="inlineFlexDiv width15">out</div>
      </div>
    </div>
    <div class="inlineFlexDiv width90">
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95">
            <img width="269px" height="32px"  alt=" link to " src="../../assets/images/image2.png.png" role="presentation" aria-hidden="true">
          </div>
  
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
      <div class="inlineFlexDiv width10">
        <div class="card">
          <div class="inlineFlexDiv width95"><img src="../../assets/images/image2.png.png" alt="Forest" style="width:100%;height:25px"></div>
          <div class="inlineFlexDiv width5"> <img src="../../assets/images/2000px-Wikipedia's_W.svg.png"
            alt="Forest" style="width:7%;    height: 11px;"></div>
        </div>
      </div>
    </div>
  
  </div> --> 
 
  